﻿@model AfiliadoDetallesViewModel

@{
    ViewData["Title"] = "Detalles";
}
<div>
    <a asp-action="Index">Volver</a>
</div>
<h1>Detalles</h1>



<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="afiliado-tab" data-bs-toggle="tab" data-bs-target="#afiliado" type="button" role="tab" aria-controls="afiliado" aria-selected="true">Datos Afiliado</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="cuenta-tab" data-bs-toggle="tab" data-bs-target="#cuenta" type="button" role="tab" aria-controls="cuenta" aria-selected="false">Estado de Cuenta</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="historico-tab" data-bs-toggle="tab" data-bs-target="#historico" type="button" role="tab" aria-controls="historico" aria-selected="false">Histórico</button>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="afiliado" role="tabpanel" aria-labelledby="afiliado-tab" tabindex="0">
            <!-- Código de Datos Afiliado -->
            <h3>Afiliado</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nº Afiliado</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Teléfono</th>
                        <th>DNI</th>
                        <th>Email</th>
                        <th>Fecha alta</th>
                        <th>Suscripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Afiliado.AfiliadoId</td>
                        <td>@Model.Afiliado.Nombre</td>
                        <td>@Model.Afiliado.Apellido</td>
                        <td>@Model.Afiliado.Telefono</td>
                        <td>@Model.Afiliado.Dni</td>
                        <td>@Model.Afiliado.Email</td>
                        <td>@Model.Afiliado.FechaAlta</td>
                        <td>@Model.Afiliado.Suscripcion.Descripcion</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="cuenta" role="tabpanel" aria-labelledby="cuenta-tab" tabindex="0">
            <!-- Código de cuenta -->
            <h3>Estado De Cuenta</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Estado General</th>
                        <th>Monto Adeudado</th>
                        <th>Monto a Favor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.EstadoDeCuenta.EstadoGeneral</td>
                        <td>@Model.EstadoDeCuenta.MontoAdeudado</td>
                        <td>@Model.EstadoDeCuenta.MontoAFavor</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="historico" role="tabpanel" aria-labelledby="historico-tab" tabindex="0">
            <!-- Código de historico -->
            <h3>Movimientos</h3>
            <table class="table">
                <thead>
                    <tr>
                        @*<th>Cuota Id</th>*@
                        <th>Fecha Cuota</th>
                        <th>Monto</th>
                        <th>Monto Pendiente</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.MovimientosHistoricos)
                    {
                        <tr>
                            @*<td>@item.CuotaId</td>*@
                            <td>@item.FechaCuota</td>
                            <td>@item.Monto</td>
                            <td>@item.MontoPendiente</td>
                            <td>@item.Estado</td>
                        </tr>
                    }
                </tbody>
            </table>
            <h3>Cobros</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nº Cobro</th>
                        <th>Monto</th>
                        <th>Fecha</th>
                        <th>Descripcion</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CobrosHistoricos)
                    {
                        <tr>
                            <td>@item.CobroId</td>
                            <td>@item.Monto</td>
                            <td>@item.Fecha</td>
                            <td>@item.Descripcion</td>
                        </tr>
                    }
                </tbody>
            </table>
            <h3>Promociones</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nº Promoción</th>
                        <th>Nombre</th>
                        <th>Descuento</th>
                        <th>Fecha Creación</th>
                        <th>Fecha Caducidad</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PromocionesHistoricas)
                    {
                        <tr>
                            <td>@item.PromocionId</td>
                            <td>@item.Nombre</td>
                            <td>@item.Descuento %</td>
                            <td>@item.FechaCreacion</td>
                            <td>@item.FechaCaducidad</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
