﻿@model IEnumerable<GYM.Models.AfiliadoViewModel>

@{
    ViewData["Title"] = "Afiliados";
}

<h1>Afiliados</h1>

<p>
    @* <a asp-action="Create">Crear Afiliado</a> *@
    <a class="btn btn-success" href="/Afiliado/Create">Crear Afiliado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AfiliadoId)
            </th>
            <th>
                Nombre Completo
            </th>
            <th>
                Suscripción
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoDeCuenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaUltimoCobro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AfiliadoId)
            </td>
            <td>
                @item.NombreCompleto
            </td>
            <td>
                @item.Suscripción
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoDeCuenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaUltimoCobro)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.AfiliadoId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.AfiliadoId">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.AfiliadoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
