﻿@model ReporteCajaViewModel
@{
    ViewData["Title"] = "Caja";
}


<h2>Reportes de Caja</h2>
<br />
@Html.Partial("_FechaRangoPartial", new FechaRangoViewModel())
<br />
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="afiliado" role="tabpanel" aria-labelledby="afiliado-tab" tabindex="0">
        <h3>Neto</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Neto</th>
                    <th>Cuotas Pendientes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movimiento in Model.ReporteNetos)
                {
                    <tr>
                        <td>@movimiento.Neto</td>
                        <td>@movimiento.CuotasPendientes</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <!-- Código para tablas -->
        @foreach (var item in ViewBag.Tipos)
        {
            <h3>@item</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Descripción</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var movimiento in Model.ReporteMovimientos)
                    {
                        if (movimiento.Tipo == item)
                        {
                            <tr>
                                <td>@movimiento.Fecha</td>
                                <td>@movimiento.Descripcion</td>
                                <td>@movimiento.Monto</td>
                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" style="text-align: right;">Total:</td>
                        <td>@ViewBag.TotalesPorTipo[item]</td>
                    </tr>
                </tfoot>
            </table>
            <br />
        }

    </div>
</div>