﻿@model GYM.Models.FechaRangoViewModel

<form method="post" action="@Url.Action("Index", "Caja")">
    Fecha inicio: <input type="date" name="FechaInicio" value="@Model.FechaInicio.ToShortDateString()" />
    Fecha fin: <input type="date" name="FechaFin" value="@Model.FechaFin.ToShortDateString()" />
    <input type="submit" value="Generar Reporte" />
</form>