﻿@model GYM.Models.CobroCreateViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Cobro.AfiliadoId" class="control-label"></label>
        <select asp-for="Cobro.AfiliadoId"
                asp-items="Model.Afiliados"
                class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="Cobro.TipoCobroId" class="control-label"></label>
        <select asp-for="Cobro.TipoCobroId"
                asp-items="Model.TiposCobro"
                class="form-control"></select>
    </div>
    <!-- Resto del formulario -->
    <div class="form-group">
        <label asp-for="Cobro.Monto" class="control-label"></label>
        <input asp-for="Cobro.Monto" class="form-control" />
    </div>

    <input type="submit" value="Crear" class="btn btn-primary" />
</form>
