﻿@model IEnumerable<GYM.Models.Cobro>
@Html.AntiForgeryToken()

@{
    ViewData["Title"] = "Cobros";
}

<h1>Cobros</h1>

<p>
    <a asp-action="Create">Crear Cobro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nº Afiliado
            </th>
            <th>
                Nombre Completo
            </th>
            <th>
                Nº Cobro   
            </th>
            <th>
                Monto
            </th>
            <th>
                Tipo
            </th>
            <th>
                Fecha
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Afiliado.AfiliadoId
            </td>
            <td>
                @item.Afiliado.NombreCompleto
            </td>
            <td>
                @item.CobroId
            </td>
            <td>
                @item.Monto
            </td>
            <td>
                @item.TipoCobro.Descripcion
            </td>
            <td>
                @item.Fecha
            </td>
            <td>
                <button class="btn btn-danger btn-delete" data-id="@item.CobroId">Anular</button>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="modal fade" id="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Anulación de cobro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea anular este cobro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="confirmDelete" class="btn btn-primary">Sí, anular</button>
            </div>
        </div>
    </div>
</div>


<script>
    console.log(jQuery); // Si jQuery está cargado, deberías ver una función en la consola

    $(document).ready(function() {
        var message = '@TempData["Message"]';
        var messageType = '@TempData["MessageType"]';
        if (message) {
            $('#modalTitle').text(messageType);
            $('#modalBody').text(message);
            $('#modal').modal('show');
        }

        $("#closeModalButton").click(function () {
            $("#modal").modal('hide');
        });
    });
</script>
<script>
    var deleteId = 0;
    var token;

    $(document).ready(function () {
        $('.btn-delete').on('click', function () {
            // Get the ID of the cobro to delete
            deleteId = $(this).data('id');
            token = $('input[name="__RequestVerificationToken"]').val();
            console.log(deleteId);
            console.log(token);
            // Show the confirmation modal
            $('#confirmDeleteModal').modal('show');
        });

        $('#confirmDelete').on('click', function () {
            // The user has confirmed the deletion, submit the form
            console.log("click");
            $.ajax({
                url: '/Cobros/Delete',
                type: 'POST',
                data: {
                    id: deleteId,
                    __RequestVerificationToken: token
                }
            }).done(function (data) {
                // Ocultando modal anterior
                $('#confirmDeleteModal').modal('hide');
                // Cuando el modal anterior se termina de esconder...
                $('#confirmDeleteModal').on('hidden.bs.modal', function (e) {
                    // Muestro el siguiente modal
                    $('#modalTitle').text(data.messageType);
                    $('#modalBody').text(data.message);
                    $('#modal').modal('show');

                    // Cuando el modal se cierra recargo la página
                    $('#modal').on('hidden.bs.modal', function (e) {
                        location.reload();
                    });
                });
            });
        });
    });
</script>