﻿@model GYM.Models.Pago
@{
    ViewData["Title"] = "Crear Pago";
}

<h2>Crear Pago</h2>

<form method="post" action="@Url.Action("Create", "Pagos")">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>Tipo de Pago:</label>
        <select name="TipoPagoId" asp-items="@ViewBag.TipoPagos"></select>
    </div>
    <div class="form-group">
        <label>Monto:</label>
        <input type="text" name="Monto" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
</form>
