﻿@model List<GYM.Models.Pago>
@{
    ViewData["Title"] = "Pagos";
}

<h2>Pagos</h2>

<a href="@Url.Action("Create", "Pagos")">Crear Pago</a>

<table class="table">
    <thead>
        <tr>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Monto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pago in Model)
        {
            <tr>
                <td>@pago.TipoPago.Descripcion</td>
                <td>@pago.Fecha</td>
                <td>-@pago.Monto</td>
            </tr>
        }
    </tbody>
</table>
